
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Django Bootstrap Starter</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}/css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ STATIC_URL }}/css/DT_bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}/css/jquery-ui-1.8.23.css" rel="stylesheet" type="text/css"/>

<style>
body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}
</style>

<style type="text/css">
    .head { margin-top:60px; }
</style>

{% block extra_head %}{% endblock %}

</head>

<body>
	
	{% block nagvar %}
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="{% url home %}">Application</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock  %}


	<div class=container>
        <div class="page-header"> 
            {% block page_header %}
            {% endblock %}
        </div> 
        <div style="padding-bottom:16px;text-align:right;">
            {% block button_bar %}
            
            {% endblock %}
        </div> 
        {% block content %}
        {% endblock %}
	</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}/js/lib/jquery.js"></script>
<script src="{{ STATIC_URL }}/js/lib/jquery-ui-1.8.23.min.js"></script>
<script src="{{ STATIC_URL }}/js/lib/bootstrap.js"></script>
<script src="{{ STATIC_URL }}/js/lib/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}/js/lib/DT_bootstrap.js"></script>
<script src="{{ STATIC_URL }}/js/lib/datepicker.js"></script>

{% block javascript %}{% endblock %}

</body>
</html>