{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	$('#people_table').dataTable( {
		"sDom": "<'row'<'span6'l><'span0 ' f>r>t<'row'<'span6'i><'span6'p>>",
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bInfo": false,
		"bAutoWidth": false,
		
	} );
} );
</script>
{% endblock %}

{% block page_header %}
<h1>People</h1>
{% endblock %}

{% block button_bar %}
<a href="{% url person_add %}" class="btn primary"><i class="icon-plus"></i>Add Person</a>
{% endblock %}

{% block content %}
<table class="table table-striped" id="people_table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Birth Date</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
		<tr>
			<td>{{ object.name }}</td>
			<td>{{ object.date_of_birth }}</td>
			<td>{{ object.email }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

